.mouseHeader {
    transition: all infinite;
}
.mouseHeader:hover {
    background-color: rgb(127, 148, 148);
}

.mouseFooter {
    transition: all infinite;
}
.mouseFooter:hover {
    background-color: rgb(102, 101, 101);
    
}
.mouseInicio {
    transition: all infinite;
}
.mouseInicio:hover {
    background-color: rgb(225, 228, 228) ;
    color: red ;
}
.mouseEdificio {
    transition: all infinite;
}
.mouseEdificio:hover {
    background-color: rgb(107, 99, 99);
    color: white;
    
}
.cursiva {
    font-style: italic;
}

@keyframes titulo {
    from {
        transform: translate(-200px);
        opacity: 0;
    
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
    

}
.titulo {
    animation-name: titulo;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.marginLogo {
    margin-bottom: 3%;
}
.edificiosImagen {
    transition: all infinite;
    
}
.edificiosImagen:hover {
    translate: 4 -20;
    
}